# Treating database

### Importing database

In [64]:
import json
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

from ast import literal_eval
from unidecode import unidecode

In [65]:
db_file = open('resume_base.json', 'rb')
db = json.loads(db_file.read())
db[0:2]

[{'id': 1,
  'title': 'Candidato de Contabilidade',
  'age': 49,
  'location': 'Centro, Curitiba - PR',
  'professional_goals_salary': '{"max": 0.0, "min": 0.0}',
  'professional_goals_contract_type': None,
  'professional_goals_working_hours': 'Período Integral',
  'education': '[{"dateEnd": "2003-11-01", "dateInit": "2003-02-01", "courseName": "Curso extra-curricular / Profissionalizante  em Contabilidade para executivos", "educationInstitutionName": "UNICENP em PR"}, {"dateEnd": "1989-12-01", "dateInit": "1985-02-01", "courseName": "Ensino Superior em Ciências contábeis", "educationInstitutionName": "FESP-Fundação de estudos Sociais do Parana em PR"}, {"dateEnd": "1984-11-01", "dateInit": "1982-02-01", "courseName": "Curso Técnico em Contabilidade", "educationInstitutionName": "CEPC-Centro de Estudos Profission.de Curitiba em PR"}]',
  'work_experience': '[{"field": "Contábil, Finanças, Economia", "level": null, "title": "CONTADOR", "dateEnd": "2006-12-01", "dateInit": "2005-03-01", "position": "Contabilidade", "description": ""}, {"field": "Contábil, Finanças, Economia", "level": null, "title": "CONTADOR", "dateEnd": "2004-12-01", "dateInit": "2001-05-01", "position": "Contabilidade", "description": ""}, {"field": "Contábil, Finanças, Economia", "level": null, "title": "CONTADOR", "dateEnd": "2001-12-01", "dateInit": "1995-08-01", "position": "Contabilidade", "description": ""}, {"field": "Contábil, Finanças, Economia", "level": null, "title": "TÉCNICO CONTABIL", "dateEnd": "1995-06-01", "dateInit": "1990-04-01", "position": "Contabilidade", "description": ""}, {"field": "Contábil, Finanças, Economia", "level": null, "title": "SUB-CONTADOR", "dateEnd": "1990-02-01", "dateInit": "1987-01-01", "position": "Contabilidade", "description": ""}]',
  'language': '[{"level": "Intermediário", "language": "Inglês"}, {"level": "Nativo", "language": "Português"}, {"level": "Básico", "language": "Espanhol"}]',
  'complementary_data': '{"travel": true, "driving": "B", "vehicle": "Carro particular", "residence": true}',
  'sex': 'Não Especificado',
  'marital_status': None},
 {'id': 2,
  'title': 'Candidato de Zootecnia',
  'age': 38,
  'location': 'Santa Helena - PR',
  'professional_goals_salary': '{"max": 0.0, "min": 0.0}',
  'professional_goals_contract_type': None,
  'professional_goals_working_hours': 'Período Integral',
  'education': '[{"dateEnd": "2005-12-01", "dateInit": "2001-02-01", "courseName": "Ensino Superior em Zootécnia", "educationInstitutionName": "Universidade Estadual do Oeste do Parana em PR"}]',
  'work_experience': '[{"field": "Agricultura, Pecuária, Veterinária", "level": null, "title": "trainne", "dateEnd": "2007-09-01", "dateInit": "2006-09-01", "position": "Zootecnia", "description": "Trabalhei como lider na maternidade. Com aproximadamente 1500 matrizes. Foi um tempo maravilhoso onde aprendi muitas coisas, como  relacionamento pessoal, aplicabilidade para muita coisa que eu aprendi na faculdade, alem de ingles, cultura, etc."}]',
  'language': '[{"level": "Avançado", "language": "Inglês"}, {"level": "Nativo", "language": "Português"}]',
  'complementary_data': '{"travel": true, "driving": "A", "vehicle": "Carro particular", "residence": true}',
  'sex': 'Não Especificado',
  'marital_status': None}]

In [66]:
original_raw_data = pd.DataFrame(db)
raw_data = original_raw_data.copy()
raw_data = raw_data.set_index('id')
raw_data.head()

,age,complementary_data,education,language,location,marital_status,professional_goals_contract_type,professional_goals_salary,professional_goals_working_hours,sex,title,work_experience
id,,,,,,,,,,,,
1,49,"{""travel"": true, ""driving"": ""B"", ""vehicle"": ""C...","[{""dateEnd"": ""2003-11-01"", ""dateInit"": ""2003-0...","[{""level"": ""Intermediário"", ""language"": ""Inglê...","Centro, Curitiba - PR",None,None,"{""max"": 0.0, ""min"": 0.0}",Período Integral,Não Especificado,Candidato de Contabilidade,"[{""field"": ""Contábil, Finanças, Economia"", ""le..."
2,38,"{""travel"": true, ""driving"": ""A"", ""vehicle"": ""C...","[{""dateEnd"": ""2005-12-01"", ""dateInit"": ""2001-0...","[{""level"": ""Avançado"", ""language"": ""Inglês""}, ...",Santa Helena - PR,None,None,"{""max"": 0.0, ""min"": 0.0}",Período Integral,Não Especificado,Candidato de Zootecnia,"[{""field"": ""Agricultura, Pecuária, Veterinária..."
3,54,"{""travel"": true, ""driving"": ""B"", ""vehicle"": nu...","[{""dateEnd"": ""1999-10-01"", ""dateInit"": ""1999-0...","[{""level"": ""Intermediário"", ""language"": ""Inglê...","Centro, Curitiba - PR",None,None,"{""max"": 0.0, ""min"": 0.0}",Período Integral,Não Especificado,Candidato de Hotelaria,"[{""field"": ""Hotelaria, Turismo"", ""level"": null..."
4,41,"{""travel"": false, ""driving"": ""B"", ""vehicle"": ""...","[{""dateEnd"": ""2001-09-01"", ""dateInit"": ""1997-0...","[{""level"": ""Intermediário"", ""language"": ""Inglê...","Centro, Curitiba - PR",None,None,"{""max"": 0.0, ""min"": 0.0}",Período Integral,Não Especificado,Candidato de Marketing,"[{""field"": ""Marketing"", ""level"": null, ""title""..."
5,31,"{""travel"": false, ""driving"": null, ""vehicle"": ...","[{""dateEnd"": ""2004-05-01"", ""dateInit"": ""2004-0...","[{""level"": ""Intermediário"", ""language"": ""Portu...","Jardim Mediterrâneo, Colombo - PR",None,None,"{""max"": 0.0, ""min"": 0.0}",Período Integral,Não Especificado,Candidato de Instrumentação Industrial,"[{""field"": ""Industrial, Produção, Fábrica"", ""l..."

## Treating Data

In [67]:
treated_dataset = pd.DataFrame()
no_treatment_needed_attributes = ['age']
treated_dataset[no_treatment_needed_attributes] = raw_data[no_treatment_needed_attributes]

In [68]:
def swap_none_for_constant(data, column, fill_value, missing_values=None):
    imputer = SimpleImputer(missing_values=missing_values, strategy='constant', fill_value=fill_value)
    imputer.fit(data[column].values.reshape(-1,1))
    data[column] = imputer.transform(data[column].values.reshape(-1,1))

In [69]:
def one_edit_apart(s1, s2):
    if abs(len(s1) - len(s2)) > 1:
        return False
    if len(s1) > len(s2):
        bigger = s1
        smaller = s2
    else:
        bigger = s2
        smaller = s1

    equal_length_strings = len(s1) == len(s2)
    saw_difference = False
    i = 0
    j = 0
    while i < len(smaller): 
        if (bigger[j] != smaller[i]):
            if (saw_difference):
                return False
            saw_difference = True
            if (not equal_length_strings):
                i = i - 1
        i = i + 1
        j = j + 1
    return True

### Professional Goals Salary Treat

For a first approach as it is a litterally numerical attribute we will just divide into a max and min attribute

In [70]:
raw_data['professional_goals_salary'].unique()

array(['{"max": 0.0, "min": 0.0}', None, '{"max": 3000.0, "min": 1200.0}',
       ..., '{"max": 2450.0, "min": 2300.0}',
       '{"max": 14000.0, "min": 7000.0}',
       '{"max": 4800.0, "min": 2800.0}'], dtype=object)

Tem valores de None, entao a primeira abordagem trivial é só substituir por {"max": 0.0, "min":0.0}, pode ser interessante usar a média dos valores futuramente (inclusive substituindo as atuais ocorrencias de {"max": 0.0, "min":0.0})

In [71]:
display(raw_data['professional_goals_salary'].isnull().values.any())
swap_none_for_constant(raw_data, 'professional_goals_salary', {"max": 0.0, "min":0.0})
raw_data['professional_goals_salary'].isnull().values.any()

True

False

In [72]:
treated_dataset['professional_goals_salary_min'] = raw_data['professional_goals_salary'].astype(str).map(lambda v: literal_eval(v)['min'])
treated_dataset['professional_goals_salary_max'] = raw_data['professional_goals_salary'].astype(str).map(lambda v: literal_eval(v)['max'])

In [73]:
treated_dataset[['professional_goals_salary_min', 'professional_goals_salary_max']].sample(5)

       professional_goals_salary_min  professional_goals_salary_max
id
65826                         2000.0                         3500.0
69960                          900.0                         1500.0
11566                          800.0                         1200.0
13706                         1200.0                         2000.0
93622                         1500.0                         3000.0

### Professional Goals Contract Type Treat

In [74]:
raw_data['professional_goals_contract_type'].astype(str).apply(unidecode).unique()

array(['None', 'Estagio', 'Efetivo - CLT', 'Outros', 'Temporario',
       'Autonomo', 'Trainee', 'Cooperado', 'Prestador de Servicos (PJ)',
       'Estgio', 'Efetivo  CLT'], dtype=object)

Necessario unificar termos com distancia de edição até 1 e incluir não informado nas situações com None

In [75]:
swap_none_for_constant(raw_data, 'professional_goals_contract_type', "Nao Informado")

In [76]:
raw_data['professional_goals_contract_type'].astype(str).apply(unidecode).unique()

array(['Nao Informado', 'Estagio', 'Efetivo - CLT', 'Outros',
       'Temporario', 'Autonomo', 'Trainee', 'Cooperado',
       'Prestador de Servicos (PJ)', 'Estgio', 'Efetivo  CLT'],
      dtype=object)

In [77]:
core_contracts_types = ['Nao Informado', 'Estagio', 'Efetivo - CLT', 'Outros',
       'Temporario', 'Autonomo', 'Trainee', 'Cooperado', 'Prestador de Servicos (PJ)']

treated_dataset['professional_goals_contract_type'] = raw_data['professional_goals_contract_type'].astype(str).apply(unidecode)
clean_contract_type = np.array(treated_dataset['professional_goals_contract_type'])

for contract_type in core_contracts_types:
    for i in range(0,len(clean_contract_type)):
        if one_edit_apart(clean_contract_type[i], contract_type):
            clean_contract_type[i] = contract_type

treated_dataset['professional_goals_contract_type'] = clean_contract_type

In [78]:
treated_dataset['professional_goals_contract_type'].unique()

array(['Nao Informado', 'Estagio', 'Efetivo - CLT', 'Outros',
       'Temporario', 'Autonomo', 'Trainee', 'Cooperado',
       'Prestador de Servicos (PJ)'], dtype=object)

### Professional Goals Working Hours

In [79]:
raw_data['professional_goals_working_hours'].astype(str).apply(unidecode).unique()

array(['Periodo Integral', 'Parcial manhas', 'None', 'Parcial tardes',
       'Parcial noites', 'Noturno', 'Perodo Integral', 'Parcial manhs'],
      dtype=object)

In [80]:
swap_none_for_constant(raw_data, 'professional_goals_working_hours', "Nao Informado")

In [81]:
core_working_hours = ['Periodo Integral', 'Parcial manhas', 'None', 'Parcial tardes',
                       'Parcial noites', 'Noturno']

In [82]:
treated_dataset['professional_goals_working_hours'] = raw_data['professional_goals_working_hours'].astype(str).apply(unidecode)
clean_working_hours = np.array(treated_dataset['professional_goals_working_hours'])

for working_hours in core_working_hours:
    for i in range(0,len(clean_working_hours)):
        if one_edit_apart(clean_working_hours[i], working_hours):
            clean_working_hours[i] = working_hours

treated_dataset['professional_goals_working_hours'] = clean_working_hours

In [83]:
treated_dataset['professional_goals_working_hours'].unique()

array(['Periodo Integral', 'Parcial manhas', 'Nao Informado',
       'Parcial tardes', 'Parcial noites', 'Noturno'], dtype=object)

### Complementary Data Treat

In [84]:
complementary_data_keys = list(json.loads(raw_data['complementary_data'].values[0]).keys())

for key in complementary_data_keys:
    treated_dataset['complementary_data_' + key] = raw_data['complementary_data'].map(lambda v: json.loads(v)[key])

Vehicle e Driving precisam de um tratamento extra para remover Nones e transformar strings que representam multiplos atributos em lista e futuramente em uma feature cada

In [85]:
treated_dataset['complementary_data_driving'].unique()

array(['B', 'A', None, 'A, B', 'E', 'C', 'D', 'B, A', 'A, B, C, D, E',
       'A, B, C, D', 'B, D', 'A, C', 'A, D', 'A, B, C', 'A, E', 'B, B',
       'B, C', 'A, A', 'C, A, B', 'B, A, C, D', 'B, C, D', 'B, D, A',
       'D, A', 'D, B', 'A, B, D', 'A, C, B', 'C, E', 'A, B, D, C',
       'B, A, D', 'D, B, C', 'D, E', 'A, D, B, C, E', 'D, A, B, C',
       'C, A', 'B, D, A, C', 'A, D, B, C', 'E, A', 'D, B, C, A',
       'A, B, D, E, C', 'A, B, A, B, A, B', 'A, C, D', 'E, A, B, C, D',
       'A, B, C, E'], dtype=object)

### Location Treat

In [86]:
experimentation = raw_data.copy()
experimentation['count'] = 1
experimentation.groupby('location').sum().sort_values('count', ascending=False)

                                       age  count
location
Centro, Curitiba - PR               334116  13703
Cidade Industrial, Curitiba - PR    227783   9729
Sítio Cercado, Curitiba - PR        151700   6510
Cajuru, Curitiba - PR               117833   4943
Boqueirão, Curitiba - PR             99511   4121
Uberaba, Curitiba - PR               85292   3609
Xaxim, Curitiba - PR                 76205   3174
Pinheirinho, Curitiba - PR           70399   2956
Tatuquara, Curitiba - PR             61337   2718
Novo Mundo, Curitiba - PR            61855   2530
Alto Boqueirão, Curitiba - PR        60218   2521
Bairro Alto, Curitiba - PR           57190   2352
Portão, Curitiba - PR                56189   2236
Capão Raso, Curitiba - PR            53904   2223
Água Verde, Curitiba - PR            52182   2009
Santa Cândida, Curitiba - PR         46564   1916
Campo de Santana, Curitiba - PR      36715   1620
Campo Comprido, Curitiba - PR        37162   1514
Fazendinha, Curitiba - PR            35031   1451
Boa Vista, Curitiba - PR             36330   1439
Pilarzinho, Curitiba - PR            32657   1345
Santa Felicidade, Curitiba - PR      32741   1328
Rebouças, Curitiba - PR              28340   1139
Capão da Imbuia, Curitiba - PR       25587   1057
São Braz, Curitiba - PR              24625   1025
Bacacheri, Curitiba - PR             24153    953
Bigorrilho, Curitiba - PR            23943    917
Barreirinha, Curitiba - PR           21833    898
Umbará, Curitiba - PR                20059    882
Atuba, Curitiba - PR                 20623    863
...                                    ...    ...
Cascatinha, Curitiba - PR             1127     46
Lamenha Pequena, Curitiba - PR         251     12
São Miguel, Curitiba - PR              260     11
Alto da rua XV, Curitiba - PR          244     10
Riviera, Curitiba - PR                 198      8
Alto da Rua XV , Curitiba - PR         136      5
Merces, Curitiba - PR                   76      3
Parque dos Camargos, Curitiba - PR      61      3
Centro, Cascavel - PR                   70      2
Centro, Londrina - PR                   65      2
Jardim Mediterrâneo, Colombo - PR       66      2
Alto Boqueir��o, Curitiba - PR          28      1
S��o Lourenço, Curitiba - PR            27      1
Alto da Rua Quinze, Curitiba - PR       25      1
Fazenda Rio Grande - PR                 52      1
Porecatu - PR                           37      1
Santa Helena - PR                       38      1
Boqueir��o, Curitiba - PR               28      1
Rio Negro - PR                          34      1
Presidente Castelo Branco - PR          47      1
Pitanga - PR                            45      1
Pineville, Pinhais - PR                 31      1
Nova Esperança - PR                    117      1
Mariópolis - PR                         38      1
Adrianópolis - PR                       35      1
Ibaiti - PR                             32      1
Centro, Ponta Grossa - PR               42      1
Centro, São José dos Pinhais - PR       52      1
Cornélio Procópio - PR                  55      1
Iguaçu, Araucária - PR                  53      1

[101 rows x 2 columns]

In [87]:
test_db = [ {'age':resume['age'], 'id': resume['id'], 'professional_goals_working_hours': resume['professional_goals_working_hours'], 'sex':resume['sex'], 'title': resume['title']} for resume in db]

In [88]:
test_db[0]

{'age': 49,
 'id': 1,
 'professional_goals_working_hours': 'Período Integral',
 'sex': 'Não Especificado',
 'title': 'Candidato de Contabilidade'}

### Output Treated Dataset

In [89]:
#with open('treated_data.json', 'w') as outfile:
#    json.dump(test_db, outfile)

In [90]:
output_dataset = treated_dataset.reset_index()
output_dataset.to_csv('treated_dataset.csv')