In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import json

In [2]:
with open('treated_data.json', 'r') as input_file:
    data = json.loads(input_file.read())
print(data[5])
target = [ resume['id'] for resume in data ]
data_without_id = data.copy()
for resume in data_without_id:
    del resume['id']
    del resume['professional_goals_working_hours']

{'age': 31, 'id': 6, 'professional_goals_working_hours': 'Período Integral', 'sex': 'Não Especificado', 'title': 'Candidato de Telemarketing / Call Center Ativo'}

In [32]:
data_without_id[5]

{'age': 31,
 'sex': 'Não Especificado',
 'title': 'Candidato de Telemarketing / Call Center Ativo'}

In [51]:
data[5]

{'age': 31,
 'sex': 'Não Especificado',
 'title': 'Candidato de Telemarketing / Call Center Ativo'}

In [19]:
df = pd.DataFrame(data)

array(['Período Integral', 'Parcial manhãs', None, 'Parcial tardes',
       'Parcial noites', 'Noturno', 'Per��odo Integral',
       'Parcial manh��s'], dtype=object)

In [25]:
def get_encoder(classes):
    encoder = LabelEncoder()
    return encoder.fit(classes)

sex_encoder = get_encoder(df['sex'].unique())
title_encoder = get_encoder(df['title'].unique())

In [30]:
# Convert features in database
clean_data = [ {'age': instance['age'],
                'sex': sex_encoder.transform([instance['sex']])[0],
                'title': title_encoder.transform([instance['title']])[0]} for instance in data_without_id]

In [31]:
query_engine = DecisionTreeClassifier()
query_engine = query_engine.fit(pd.DataFrame(clean_data), target)

In [39]:
[{'age': 31,
  'sex': sex_encoder.transform(['Não Especificado'])[0],
  'title': title_encoder.transform(['Candidato de Telemarketing / Call Center Ativo'])[0]}]

[{'age': 31, 'sex': 2, 'title': 294}]

In [49]:
test = pd.DataFrame([{'age': 31, 'sex': 2, 'title': 294}])
test

   age  sex  title
0   31    2    294

In [50]:
#test = pd.DataFrame()
query_engine.predict(test)

array([6])